<div>
  <app-base-editor [value]="value"></app-base-editor>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#blockEditor-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          Image
        </button>
      </h2>
      <div id="blockEditor-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
          <!-- <label for="urlPath">URL</label>
          <div class="input-group mb-3">
            <input
              [formControl]="urlPath"
              class="form-control form-control-sm"
              id="urlPath"
              type="text"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button
                (click)="load()"
                class="input-group-text"
                id="basic-addon2"
                >Load
              </button>
            </div>
          </div> -->

          <div class="mb-3">
            <label for="imageFile">Load from file</label>
            <input class="form-control form-control-sm"
              [formControl]="imageFile"
              (change)="onFileSelected($event)"
              accept=".jpg, .jpeg, .png"
              id="imageFile"
              type="file">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


