<div *ngIf="componentToEdit$ | async as componentToEdit; else administratorPanel">
  <div class="commands">
    <button class="btn btn-primary" (click)="return()">
      <i class="bi bi-arrow-return-left"></i>
    </button>
  </div>
  <div [ngSwitch]="componentToEdit.type">
    <!-- site definition -->
    <app-header-editor *ngSwitchCase="componentType.Header" [value]="componentToEdit"></app-header-editor>
    <app-footer-editor *ngSwitchCase="componentType.Footer" [value]="componentToEdit"></app-footer-editor>
    <app-row-editor *ngSwitchCase="componentType.Row" [value]="componentToEdit"></app-row-editor>
    <app-grid-editor *ngSwitchCase="componentType.Grid" [value]="componentToEdit"></app-grid-editor>

    <!-- components -->
    <app-block-editor *ngSwitchCase="componentType.Block" [value]="componentToEdit"></app-block-editor>
  </div>
</div>

<ng-template #administratorPanel>
  <span *ngIf="isEditMode$ | async">
    <button class="btn btn-primary"
      (click)="addNewPage()">
      <i class="bi bi-file-text"></i> Add site
    </button>
    <button class="btn btn-primary"
      (click)="addNewRow()">
      <i class="bi bi-list"></i> Add row
    </button>

    <button class="btn btn-primary"
      (click)="toggleEditMode()">
      <i class="bi bi-save"></i> Save
    </button>
  </span>

  <button class="btn btn-primary"
    *ngIf="!(isEditMode$ | async)"
    (click)="toggleEditMode()">
    <i class="bi bi-unlock-fill"></i> Edit
  </button>
</ng-template>
