<div *ngIf="componentToEdit$ | async as componentToEdit; else administratorPanel">
  {{componentToEdit.type}}
  <div [ngSwitch]="componentToEdit.type">
    <!-- site definition -->
    <app-header-editor *ngSwitchCase="componentType.Header" [value]="componentToEdit"></app-header-editor>
    <app-footer-editor *ngSwitchCase="componentType.Footer" [value]="componentToEdit"></app-footer-editor>
    <app-row-editor *ngSwitchCase="componentType.Row" [value]="componentToEdit"></app-row-editor>
    <app-grid-editor *ngSwitchCase="componentType.Grid" [value]="componentToEdit"></app-grid-editor>

    <!-- components -->
    <app-block-editor *ngSwitchCase="componentType.Block" [value]="componentToEdit"></app-block-editor>
  </div>

  <button (click)="clear()">clear</button>
</div>

<ng-template #administratorPanel>
  <button (click)="addNewPage()">Dodaj nową stronę</button>
  <button (click)="addNewRow()">Dodaj nowy wiersz</button>
</ng-template>
