<div *ngIf="componentToEdit$ | async as componentToEdit; else administratorPanel">
  <div class="commands">
    <button class="btn btn-primary" (click)="return()">
      <i class="bi bi-arrow-return-left"></i>
    </button>
  </div>
  <div style="padding: 10px 5px;">
    @switch (componentToEdit.type) {
      <!-- site definition -->
      @case (componentType.Header) {
        <app-header-editor [value]="componentToEdit"></app-header-editor>
      }
      @case (componentType.Row) {
        <app-row-editor [value]="componentToEdit"></app-row-editor>
      }
      @case (componentType.Grid) {
        <app-grid-editor [value]="componentToEdit"></app-grid-editor>
      }
      @case (componentType.Footer) {
        <app-footer-editor [value]="componentToEdit"></app-footer-editor>
      }

      <!-- components -->
      @case (componentType.Block) {
        <app-block-editor [value]="componentToEdit"></app-block-editor>
      }
      @case (componentType.Image) {
        <app-image-editor [value]="componentToEdit"></app-image-editor>
      }
      @case (componentType.MicroArticle) {
        <app-micro-article-editor [value]="componentToEdit"></app-micro-article-editor>
      }
      @case (componentType.Twitter) {
        <app-twitter-editor [value]="componentToEdit"></app-twitter-editor>
      }

      @default {
        Not defined yet!!!
      }
    }
  </div>
</div>

<ng-template #administratorPanel>
  @if (isEditMode$ | async) {
    <div class="button-container">
      <button mat-raised-button
        [color]="'primary'"
        (click)="addNewPage()">
        <i class="bi bi-file-text"></i> Add page
      </button>
      <button mat-raised-button
        [color]="'primary'"
        (click)="addNewRow()">
        <i class="bi bi-list"></i> Add row
      </button>

      <button mat-raised-button
        [color]="'primary'"
        (click)="toggleEditMode()">
        <i class="bi bi-save"></i> Save
      </button>

      <button mat-raised-button
        [color]="'warn'"
        (click)="cancelEdit()">
        <i class="bi bi-x-circle-fill"></i> Cancel
      </button>

      <app-page-editor></app-page-editor>
    </div>
  } @else {
    <div class="button-container">
      <button mat-raised-button
        [color]="'primary'"
        (click)="toggleEditMode()">
        <i class="bi bi-unlock-fill"></i> Edit
      </button>
    </div>
  }
</ng-template>
