@if (article$ | async; as article) {
  <div class="row">
    <div class="col">
      <div>
        <h3>Title: {{article.title}}</h3>
      </div>
      <div>
        Category: {{article.categoryId}}
      </div>
      <div>
        Description: {{article.description}}
      </div>
      <div>
        Created: todo
      </div>
      <div>
        Author: todo
      </div>
      <div>
        Likes: todo
        <div appShowIfUserLogged>
          @if (article.isLiked) {
            <button mat-button
              (click)="dislike()"
              matTooltip="Dislike article">
              <i class="bi bi-hand-thumbs-up-fill"></i>
            </button>
          } @else {
            <button mat-button
              (click)="like()"
              matTooltip="Like article">
              <i class="bi bi-hand-thumbs-up"></i>
            </button>
          }
        </div>

      </div>
      <div [innerHTML]="editorXml(article.definition) | sanitizeHtml"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-article-comments
        [articleId]="article.id"
      ></app-article-comments>
    </div>
  </div>
}
