@if (selectedPageId) {
  <div>
    <div>
      <form [formGroup]="pageForm">
        <div class="mb-3">
          <label for="pageName">Page name</label>
            <input class="form-control form-control-sm"
              id="pageName"
              formControlName="pageName"
              type="text">
        </div>
      </form>
    </div>

    <div style="text-align: right;">
      <app-delete-button
        [tooltip]="'Remove page'"
        [clickAction]="deletePage">
      </app-delete-button>
    </div>
  </div>
}

