<div>
  @if((categories$ | async) && (articles$ | async); as articles) {
    <button
      mat-raised-button
      [color]="'primary'"
      [routerLink]="'/article/new'"
      >Add new article
    </button>

    @if(selection.hasValue()) {
      <button
        mat-raised-button
        [color]="'warn'"
        (click)="deleteSelected()"
        >Delete selected
      </button>
    }

    <div>
      <form [formGroup]="filterForm">
        <div class="mb-3">
          <label for="filterOption">Filter by</label>
          <select
            class="form-select form-select-sm"
            id="filterOption"
            formControlName="option">
            @for (filterOption of filterOptions; track $index) {
              <option [value]="filterOption">{{ filterOption }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="orderBy">Order by</label>
          <select
            class="form-select form-select-sm"
            id="orderBy"
            formControlName="orderBy">
            @for (orderByOption of orderByOptions; track $index) {
              <option [value]="orderByOption">{{ orderByOption }}</option>
            }
          </select>
        </div>

        <button
          mat-raised-button
          [color]="'primary'"
          (click)="refreshArticles()"
          type="submit"
          >Refresh
        </button>
      </form>
    </div>

    <mat-table [dataSource]="articles">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.categoryId | appCategoryTranslation}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt | appFormatDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="likeCount">
        <mat-header-cell *matHeaderCellDef> Likes </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.likeCount }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button
            [routerLink]="'/article/' + element.id"
            [color]="'primary'"
          ><i class="bi bi-pen"></i>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows(articles) : null"
                        [checked]="selection.hasValue() && isAllSelected(articles.length)"
                        [indeterminate]="selection.hasValue() && !isAllSelected(articles.length)">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- <mat-paginator
      [length]="articles.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      (page)="pageChanged($event)">
    </mat-paginator> -->
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
