<div cdkDropListGroup style="height: 100%;">
  <mat-drawer-container style="height: 100%;">
    <mat-drawer #drawer [mode]="'side'">
      <app-administrator-panel></app-administrator-panel>
    </mat-drawer>
    <mat-drawer-content>
      <app-site-template></app-site-template>
    </mat-drawer-content>
  </mat-drawer-container>
  @if (isLogged) {
    <div class="cms-mat-fab-button"
      matTooltip="Toggle administrator panel">
    <button mat-fab
      [color]="'primary'"
      (click)="drawer.toggle()"
      ><i class="bi bi-pencil-square"></i>
    </button>
  </div>
  }
</div>
