<div class="row d-flex justify-content-center">
  <div class="col-md-12 col-lg-8">
    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
      @if (comments$ | async; as comments) {
        <div class="card-body p-4">
          @if(isAuthenticated) {
            <div class="form-outline mb-4">
              <form [formGroup]="commentForm">
                <input type="text"
                  id="addANote"
                  formControlName="comment"
                  class="form-control"
                  placeholder="Type comment..."
                  #addNote/>
                <app-form-control-validation
                  [form]="commentForm"
                  [controlName]="'comment'"
                  [controlRef]="addNote">
                </app-form-control-validation>
                <div class="form-label add-comment-button"
                  for="addANote"
                  (click)="saveComment()"
                  >+ Add a note
                </div>
              </form>
            </div>
          }

          @if (comments.length > 0) {
            @for (comment of comments; track $index) {
              <div class="card mb-4">
                <div class="card-body">
                  <p>{{ comment.content }}</p>

                  <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25"
                        height="25" />
                      <p class="small mb-0 ms-2">{{ comment.authorName }}</p>
                    </div>
                  </div>
                </div>
              </div>
            }
          } @else {
            <div class="card mb-4">
              <div class="card-body" style="text-align: center;">
                <p>There are no comments. Be the first!</p>
              </div>
            </div>
          }
        </div>
      } @else {
        <mat-spinner></mat-spinner>
      }
    </div>
  </div>
</div>
