<div class="row">
  <div class="col-12 col-lg-4">
    <ul class="list-group">
      @for (tab of tabs; track $index) {
        <li class="list-group-item"
          (click)="selectedTab = tab"
        >{{ tab }}
        </li>
      }
    </ul>
  </div>
  <div class="col-12 col-lg-8">
    @switch (selectedTab) {
      @case ('Articles') {
        <app-article-list></app-article-list>
      }
      @case ('Categories') {
        <app-category-list></app-category-list>
      }
      @case ('Settings') {
        <app-settings></app-settings>
      }
      @case ('Admin accounts') {
        <app-admin-list></app-admin-list>
      }
    }
  </div>
</div>

