<div class="container">
  <h1 mat-dialog-title>Add new category</h1>
  <div mat-dialog-content>
    <form [formGroup]="categoryForm"
      (submit)="save()">
      <div class="mb-3">
        <label for="newCategory">New category</label>
        <input class="form-control form-control-sm"
          #newCategory
          id="newCategory"
          type="text"
          formControlName="newCategory">

        <app-form-control-validation
          [form]="categoryForm"
          [controlName]="'newCategory'"
          [controlRef]="newCategory">
        </app-form-control-validation>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button
      (click)="close()"
      >Cancel
    </button>
    <button mat-raised-button
      [color]="'primary'"
      (click)="save()"
      cdkFocusInitial
      >Save
    </button>
  </div>
</div>
