<div *ngIf="component"
  class="block-component"
  [style.border-width]="component.borderWidth + 'px'"
  [style.border-style]="component.borderStyle"
  [style.border-color]="component.borderColor"
  [style.border-radius]="component.borderRadius + 'px'"

  [style.margin-top]="component.marginTop + 'px'"
  [style.margin-right]="component.marginRight + 'px'"
  [style.margin-bottom]="component.marginBottom + 'px'"
  [style.margin-left]="component.marginLeft + 'px'"

  [style.padding-top]="component.paddingTop + 'px'"
  [style.padding-right]="component.paddingRight + 'px'"
  [style.padding-bottom]="component.paddingBottom + 'px'"
  [style.padding-left]="component.paddingLeft + 'px'"

  [style.background-color]="component.enableBackgroundColor ? component.backgroundColor : null"
  [ngClass]="component.enableBackgroundPattern ? component.backgroundPattern : null"
  >
  {{ refreshMicroArticle(component.articleId) }}

  @if (microArticle) {
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">{{ microArticle.categoryId | appCategoryTranslation }}</strong>
            <h3 class="mb-0">{{ microArticle.title }}</h3>
            <div class="mb-1 text-body-secondary"> {{ microArticle.createdAt | appFormatDate }}</div>
            <p class="mb-auto">{{ microArticle.description }}</p>
            <a [routerLink]="'article-preview/' + microArticle.id">
              Continue reading
            </a>
          </div>
        </div>
      </div>
    </div>
  } @else {
    @if (component.articleId) {
      <mat-spinner></mat-spinner>
    } @else {
      Choose article!
    }
  }
</div>
