.cms-background-pattern-1 {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 20px,
    black 20px,
    black 40px
  );
}

.cms-background-pattern-2 {
  background: repeating-linear-gradient(90deg in oklab, blue, red 100px);
}

html, body {
  height:100%;
}

.cms-mat-fab-button {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  z-index: 1000;
}

.cms-component-preview {
  width: 100px;
  height: 100px;
}

.cms-example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-drawer-content {
  background-color: white;
}