<div [id]="'componentsList' + grid.id"
  class="grid-container"
  [class.grid-hover]="isEditMode$ | async"
  [style.border-border-width]="grid.borderWidth + 'px'"
  [style.border-style]="grid.borderStyle"
  [style.border-color]="grid.borderColor"
  [style.border-radius]="grid.borderRadius + 'px'"

  [style.margin-top]="grid.marginTop + 'px'"
  [style.margin-right]="grid.marginRight + 'px'"
  [style.margin-bottom]="grid.marginBottom + 'px'"
  [style.margin-left]="grid.marginLeft + 'px'"

  [style.padding-top]="grid.paddingTop + 'px'"
  [style.padding-right]="grid.paddingRight + 'px'"
  [style.padding-bottom]="grid.paddingBottom + 'px'"
  [style.padding-left]="grid.paddingLeft + 'px'"

  [style.background-color]="grid.enableBackgroundColor ? grid.backgroundColor : null"
  [ngClass]="grid.enableBackgroundPattern ? grid.backgroundPattern : null"

  cdkDropList
  [cdkDropListData]="grid.components"
  (cdkDropListDropped)="drop($event)"
  >

  @for (component of grid.components; track $index) {
    <div cdkDrag [cdkDragDisabled]="!(isEditMode$ | async)">
      <div class="cms-example-custom-placeholder"
        *cdkDragPlaceholder>
      </div>
      <img
        *cdkDragPreview
        [src]="imagePathDictionary[component.type]"
        [alt]="component.type"
        class="cms-component-preview">
      @if (selectedComponent === component.id) {
        <div style="display: flex; justify-content: center;" >
          <span class="component-buttons">
            <app-edit-button
              [tooltip]="'Edit component'"
              [clickAction]="setComponentToEdit(component)">
            </app-edit-button>
            <app-copy-button
              [tooltip]="'Duplicate component'"
              [clickAction]="duplicateComponent(grid.components, component)">
            </app-copy-button>
            <app-delete-button
              [tooltip]="'Remove component'"
              [clickAction]="deleteComponent(component)">
            </app-delete-button>
          </span>
        </div>
      }
      <div
        class="component"
        [class.component-hover]="isEditMode$ | async"
        (click)="selectedComponent = component.id">
        @switch (component.type) {
          @case (baseComponentType.Block) {
            <app-block [component]="component"></app-block>
          }
          @case (baseComponentType.Image) {
            <app-image [component]="component"></app-image>
          }
          @case (baseComponentType.MicroArticle) {
            <app-micro-article [component]="component"></app-micro-article>
          }
          @case (baseComponentType.Twitter) {
            <app-twitter [component]="component"></app-twitter>
          }
          @default {
            Component not defined!
          }
        }
      </div>
    </div>
  }
</div>
