.component-hover:hover {
  border: 1px solid blue !important;
  cursor: pointer;
}

.component-buttons {
  position: absolute;
  margin-top: -40px;
  margin-left: 30px;
}

.grid-container {
  min-height: 20px;
  min-width: 100%;
}

.grid-hover:hover {
  border: 1px solid green !important;
}
