<div
  [class]="'row row-container ' + row.horizontalAlignment"
  [class.row-hover]="isEditMode$ | async"
  (click)="selectedRow = row.id"

  [style.border-border-width]="row.borderWidth + 'px'"
  [style.border-style]="row.borderStyle"
  [style.border-color]="row.borderColor"

  [style.margin-top]="row.marginTop + 'px'"
  [style.margin-right]="row.marginRight + 'px'"
  [style.margin-bottom]="row.marginBottom + 'px'"
  [style.margin-left]="row.marginLeft + 'px'"

  [style.padding-top]="row.paddingTop + 'px'"
  [style.padding-right]="row.paddingRight + 'px'"
  [style.padding-bottom]="row.paddingBottom + 'px'"
  [style.padding-left]="row.paddingLeft + 'px'"

  [style.background-color]="row.enableBackgroundColor ? row.backgroundColor : null"
  [ngClass]="row.enableBackgroundPattern ? row.backgroundPattern : null"
  >
  <div
    [class]="'col-' + grid.width + ' ' + row.verticalAlignment"
    *ngFor="let grid of row.gridItems; trackBy: trackByIndex">

    <app-grid
      (click)="selectedGrid = grid.id"
      [grid]="grid">
    </app-grid>
    <div
      class="grid-buttons"
      *ngIf="selectedGrid === grid.id">
      <app-edit-button
        [tooltip]="'Edit grid'"
        [clickAction]="setGridToEdit(grid)">
      </app-edit-button>
      <app-delete-button
        [tooltip]="'Remove grid'"
        [clickAction]="deleteGrid(grid)">
      </app-delete-button>
    </div>
  </div>
  <div class="row-buttons"
    *ngIf="selectedRow === row.id">
    <app-edit-button
      [tooltip]="'Edit row'"
      [clickAction]="setRowToEdit()">
    </app-edit-button>
    @if (!disableDelete) {
      <app-delete-button
        [tooltip]="'Remove row'"
        [clickAction]="deleteRow(row.id)">
      </app-delete-button>
    }
  </div>
</div>
