<div *ngIf="component"
  class="block-component"
  [style.border-width]="component.borderWidth + 'px'"
  [style.border-style]="component.borderStyle"
  [style.border-color]="component.borderColor"
  [style.border-radius]="component.borderRadius + 'px'"

  [style.margin-top]="component.marginTop + 'px'"
  [style.margin-right]="component.marginRight + 'px'"
  [style.margin-bottom]="component.marginBottom + 'px'"
  [style.margin-left]="component.marginLeft + 'px'"

  [style.padding-top]="component.paddingTop + 'px'"
  [style.padding-right]="component.paddingRight + 'px'"
  [style.padding-bottom]="component.paddingBottom + 'px'"
  [style.padding-left]="component.paddingLeft + 'px'"

  [style.background-color]="component.enableBackgroundColor ? component.backgroundColor : null"
  [ngClass]="component.enableBackgroundPattern ? component.backgroundPattern : null"
  >
  <div>
    <figure>
      <img
        class="figure-img img-fluid rounded"
        [src]="component.imgPath"
        style="width: 100%; height: auto;"
        (click)="isEditMode ? null : openInDialog()"/>
      <figcaption class="figure-caption">{{ component.description }}</figcaption>
    </figure>
  </div>
</div>
